body{
  background-color:black;
}
div{
  background-color:#886600;
}
#title{
  font-size:500%;
  color:white;
  text-align:center;
  text-shadow:0px 0px 40px white;
  border-radius:10%;
}

.info{
  font-size:300%;
  color:#FFFACD;
  text-shadow:0px 0px 40px #FFFF00;
}
