body{
  background-color:black;
}
#title{
  font-size:500%;
  color:white;
  text-align:center;
  text-shadow:0px 0px 40px yellow;
}

.info{
  font-size:300%;
  color:#FFFACD;
  text-shadow:0px 0px 40px #FFFF00;
  background-color:#886600;
}
