div{
  background-color:#886600;
  height:100%;
}
h1{
  font-size:500%;
  color:white;
  text-align:center;
  text-shadow:0px 0px 40px white;
}
h2{
  font-size:500%;
  color:white;
  text-align:center;
  text-shadow:0px 0px 40px white;
}
h4{
  font-size:100%;
  color:black;
  text-align:center;
  background-color:pink;
  height:100%;
}
